* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
}

.rack {
  background-color: #006400;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

.rack.tile-container {
  float: left;
  display: inline-block;
  background-color: #008000;
  border: 1px solid #008000;
  max-width: 420px;
  padding: 5px;
}

.rack .tile {
    margin-left: 10px;
    margin-right: 10px;
}

.board {
  clear: both;
  opacity: 0.90;
  /*height: 630px;*/
  border: 5px solid darkgreen;
  border-radius: 6px;
  border-spacing: 0px;
}

.part {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  display: inline-block;
  background-color: #00af85;
}

.part > .accept-tile-drop {
  width: 100%;
  height: 100%;
}

.accept-tile-drop.hovered {
  background-color: whitesmoke;
}

.WORD-3 {
  background-color: #CF3A3A;
}

.WORD-2 {
  background-color: #CCA3BF;
}

.LETTER-2 {
  background-color: #65BEEB;
}

.LETTER-3 {
  background-color: #2F37FF;
}



.tile.has-letter {
  background-color: #DFB87D;
  color: #006F00;
  position: relative;
  border-radius: 5px;
}

.tile {
  float: left;
  width: 40px;
  height: 40px;
  font-family: serif;
}
.tile .letter {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}

.tile .value {
  text-align: right;
  right: 0;
  bottom: 0;
  font-size: 12px;
  position: absolute;
  padding-right: 2px;
}


.info {
  clear: both;
  font-size: 1.5em;
}

.info > span {
  margin: 1ex;
}

.turn-description {
  clear: both;
  font-size: 1.5em;
}

.turn-description > span {
  padding: 1ex;
}

.turn-description > button {
  padding: 1ex;
}
